body {
  background-color: lightblue;
}
h1 {
  font-family: 'Oswald', sans-serif;
  color: navy;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 3px;
  font-weight: bold;
}
h2 {
  text-align: left;
  font-style: italic;
}
h3 {
  text-align: center;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  border-style: solid black;
  margin-top: 100px;
  padding: 25px 25px 25px 25px;
} 
p.capitalize {
  text-transform: capitalize;
}
p.uppercase {
 text-transform: uppercase;
}
p.small {
  line-height: 0.8;
}
/*div {
  width: 300px;
  border: 25px solid navy;
  padding: 25px;
  margin: 25px;
  background-color: grey;
} */
#transitionid {
  background: rgb(100, 100, 255);
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;

  height: 20vmin;
  width: 20vmin;

  margin-top: 50vh;
  transform: translateY(-50%);

  transition: background-color 3s linear,
  width 2s ease-in-out 1s;
}

#transitionid:hover {
  background: rgb(255, 0, 255);
  border-radius: 75%;
  color: rgb(0, 255, 255);
  transform: rotate(360deg);

}
/* unvisited link */
a:link {
    color: red;
}
/* visited link */
a:visited {
    color: green;
}
/* mouse over link */
a:hover {
    color: hotpink;
}
/* selected link */
a:active {
    color: blue;
}
table, th, td {
   border: 1px solid black;
}


